In [11]:
import pandas as pd

df = pd.read_csv('fct_invoice.csv')

Easy Question 1: How many unique customers are in the dataset?
Answer: There are 5191 Unique Customers

In [13]:
unique_customers = df['customer_id'].nunique()
unique_customers

5191

Easy Question 2: What are the different categories of products available? How many unique categories are there?
Answer: The categories are 'Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
       'Toys', 'Technology', 'Souvenir' and there are 8 unique ones.

In [19]:
df_unique_categories = df['category'].unique()
df_unique_categories

array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
       'Toys', 'Technology', 'Souvenir'], dtype=object)

In [18]:
len(df_unique_categories)

8

Easy Question 3: Which payment method is the most popular? How many times was it used?
Answer: Cash is the most popular. It was used 44447 times

In [22]:
df_payment_methods = df['payment_method'].value_counts()
df_payment_methods

payment_method
Cash           44447
Credit Card    34931
Debit Card     20079
Name: count, dtype: int64

Medium Question 1. What are the three most popular categories, by total sales?
Answer: The three most popular categories by total sales are Clothing, Shoes and Technology

In [32]:
df['total'] = df['price'] * df['quantity']
df_sales_by_categories = df[['category','total']].groupby('category').sum()
largest_three = df_sales_by_categories.nlargest(3, 'total')
largest_three

                   total
category
Clothing    1.139968e+08
Shoes       6.655345e+07
Technology  5.786235e+07

Medium 2. What are the total sales attributed to customers over the age of 45?
Answer: 82039768.15

In [44]:
df_customer_data = pd.read_json('dim_customer.json')
df_customer_data = df_customer_data.rename(columns={'id': 'customer_id'})
merged_df = pd.merge(df, df_customer_data, on='customer_id')
asd = merged_df[merged_df['age'] > 45]['total'].sum()
asd

82039768.15